@model IEnumerable<Biblioteka.Models.Rent>

@{
    ViewData["Title"] = "Wypożyczenia";
}

<h1>Wypożyczenia</h1>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success">Dodaj wypożyczenie</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rent_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Return_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rent_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_Date)
            </td>
            <td>
                 @(item.Employee != null
                                 ? item.Employee.Emp_Name + " " + item.Employee.Emp_Surname
                                  : "-")
            </td>
             <td>
                    @(item.BookCopy != null
                                    ? item.BookCopy.Id + " (" + item.BookCopy.Condition + ")"
                                    : "-")
             </td>
            <td>
                @(item.Library != null ? Html.DisplayFor(modelItem => item.Library.Id) : "")
            </td>
                @if (User.IsInRole("Admin"))
            {<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>}
        </tr>
}
    </tbody>
</table>
